/.vscode
/AUTHORS
/COPYING.LESSER
/ChangeLog
/Makefile.am
/Makefile.in
/NEWS
/README.md
/acinclude.m4
/aclocal.m4
/build
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/ltmain.sh
/m4
/missing
/rcssbase
/ylwrap